@keyframes wordsSlider {
  0%   { transform: translateY(0%); }
  12%  { transform: translateY(0%); }

  14%  { transform: translateY(-100%); }
  26%  { transform: translateY(-100%); }

  28%  { transform: translateY(-200%); }
  40%  { transform: translateY(-200%); }

  42%  { transform: translateY(-300%); }
  54%  { transform: translateY(-300%); }

  56%  { transform: translateY(-400%); }
  68%  { transform: translateY(-400%); }

  70%  { transform: translateY(-500%); }
  82%  { transform: translateY(-500%); }

  84%  { transform: translateY(-600%); }
  96%  { transform: translateY(-600%); }

  100% { transform: translateY(0%); }
}
